<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Client Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'All Clients', clients_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Add Clients', new_client_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Search Clients', search_path, class: "nav-link" %>
        </li>

      </ul>

      <div class="d-flex">
        <div class="p-1">
          <%= link_to 'EN', { :locale=>'en' }, class: "btn btn-sm btn-link text-primary" %> |
          <%= link_to 'FR', { :locale=>'fr' }, class: "btn btn-sm btn-link text-primary" %>
        </div>
      </div>


      <ul class="navbar-nav">
        <% if (user_signed_in?) %>
				<!-- Nav right START -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.email %>
          </a>
          <ul id="desktop-user-dropdown" class="dropdown-menu">
            <li>
              <%= link_to '<i class="bi bi-person me-2"></i>Edit Profile'.html_safe, edit_user_registration_path, class: 'dropdown-item' %>
            </li>

            <li><hr class="dropdown-divider"></li>

            <li>
              <%= link_to '<i class="bi bi-box-arrow-in-right me-2"></i>Logout'.html_safe, destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </li>

          </ul>
        </li>
			<% else %>
				<div class="nav">
					<%= link_to "Login", new_user_session_path, class: "btn btn-link" %>
					<%= link_to "Register", new_user_registration_path, class: "btn btn-link" %>
				</div>
			<% end %>
         
      </ul>
    </div>


  </div>
</nav>