<div class="row align-items-center pt-5 mt-3">
  <div class="col-md-10 mx-auto">
    <h1><%= t('.your_clients') %></h1>
    <p><%= t('.clients_greeting_html') %></p>
    
      <div class="card-body">
        
        <% if current_user.clients.empty? %>

          <div class="text-center">
            
            <%= link_to new_client_path, class: 'border-0 bg-transparent' do %>
              <i class="add-client-icon display-1 text-muted bi bi-plus-circle-fill"></i>
            <% end %>

            <h4 class="mt-2 mb-3 text-body">You don't have any clients.</h4>

            <%= link_to "Add your first client",  new_client_path, class: 'btn btn-primary' %>

          </div>

        <% else %>

          <div class="row g-4">
            <div class="col-lg-8 vstack gap-4">
              <div class="card bg-primary">
                <div class="card-header border-0 pb-0">
                  <h5 class="card-title text-light">Filter by category</h5>
                </div>
                <%= render "shared/categories" %>
                <div class="card-body bg-light">
                  <div class="table-responsive-lg no-border">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="text-nowrap" scope="col">First Name</th>
                          <th class="text-nowrap" scope="col">Last Name</th>
                          <th class="text-nowrap" scope="col">Email</th>
                          <th class="text-nowrap" scope="col">Category</th>
                          <th class="text-nowrap" scope="col">Date Added</th>
                          <th class="text-nowrap" scope="col">Total Revenue</th>
                          <th class="text-nowrap" scope="col">Status</th>
                          <th class="text-nowrap" scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% cache current_user.clients do %>
                          <% current_user.clients.sort.each do |c| %>
                            <% cache c do %>
                            <tr>
                              <td class="text-nowrap"><%= link_to c.first_name, client_path(c) %></td>
                              
                              <td class="text-nowrap"><%= c.last_name %></td>
                              <td class="text-nowrap"><%= c.email %></td>
                               <td class="text-nowrap"><%= c.category.name %></td>
                              <td class="text-nowrap"><%= c.created_at.strftime('%d %b %Y') %></td>
                              <td class="text-nowrap">
                                <%= number_to_currency(c.revenue) %>
                              </td>
                              <td class="text-nowrap <%= active_class(c.active) %>">
                                <%= c.active ? 'Active' : 'Inactive' %>
                              </td>
                              <td class="text-nowrap">
                                <%= link_to "Edit Client", edit_client_path(c), class: "btn btn-sm btn-info" %>
                                <%= link_to "Delete Client", c, method: :delete, data: {confirm: 'Are you sure you want to delete this client?'}, class: "btn btn-sm btn-dark text-white"%>
                              </td>
                            </tr>
                            <% end %>
                          <% end %>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <% end %>
          
      </div>
    
  </div>
</div>