<div class="row align-items-center pt-5 pb-5 pb-lg-3 mt-3">
  <!-- Card START -->
  <div class="col-md-8 mx-auto">
    <h1>Clients</h1>
    <p class="mb-4">Let's add a Client.</p>
    
    <div class="">
     
      <div class="card mb-4">
        
        <div class="card-body">
          <%= form_for @client, html: {class: 'row g-3'} do |f| %>

            <div class="col-sm-6 col-lg-4">
              <label class="form-label">Client first name</label>
              <%= f.text_field :first_name, autocomplete: 'first-name', class: 'form-control' %>
            </div>

            <div class="col-sm-6 col-lg-4">
              <label class="form-label">Client last name</label>
              <%= f.text_field :last_name, autocomplete: 'last-name', class: 'form-control' %>
            </div>
            
            <div class="col-sm-6 col-lg-4">
              <label class="form-label">Client email</label>
              <%= f.text_field :email, autocomplete: 'email', class: 'form-control' %>
            </div>

            <%= f.submit "Add Client", class: 'btn btn-sm btn-primary mb-0' %>
            
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
