<div class="row pt-5">
  <h1>Search Results</h1>
  <div class="col-12 mb-3">
    <div class="card">
      <div class="card-body bg-light">
        <div class="d-flex bd-highlight">
          <div class="p-2 flex-grow-1 align-self-center">
            <h5 class="text-primary">
              Client Category: <% if @category %> <%= @category.name %> <% end %>
            </h5>
          </div>
          <%= form_tag '', method: :get do %>
            <%= hidden_field_tag "category", @category ? @category.id : '' %>

            <div class="p-2 bd-highlight align-self-center">
              <%= select_tag 'sort', options_for_select(
                [
                  ['Revenue High to Low', 'revenue desc'],
                  ['Revenue Low to High', 'revenue asc'],
                  ['Most Recent Customers', 'clients.created_at desc'],
                  ['Oldest Customers', 'clients.created_at asc'],
                ], selected: @sort
              ), class: "form-select", onchange: "this.form.submit();" %>
            
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-12 mb-4">
    <%= form_tag '', class: 'd-flex flex-column p-3 bg-light', method: :get do |f| %>
      
      <%= hidden_field_tag "category", @category ? @category.id : '' %>
      
      <!-- Add sort parameters, because this form is defferent than the sort form above. -->
      <%= hidden_field_tag "sort", @sort %>
      
      <!-- If we have s parameters from the url show that value else show nothing -->
      <%= text_field_tag 's', @s || '', class: 'form-control me-2', placeholder: 'Search by client name' %>
      
      <hr>

      <h5>Search by Revenue</h5>
      <ul class="nav nav-pills flex-column mb-auto">
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <%= number_field_tag 'min', @min || '', class: 'form-control', placeholder: 'Min' %>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <%= number_field_tag 'max', @max || '', class: 'form-control', placeholder: 'Max' %>
        </div>
      </ul>

      <hr>

      <button class="btn btn-secondary mt-2" type="submit">Apply Filters</button>
      
    <% end %>

    <%= form_tag '', method: :get, class: 'd-flex flex-column' do %>
      <button class="btn btn-dark btn-block mt-2" type="submit">Clear All Filters</button>
    <% end %>
    
  </div>
  
  <div class="col-lg-9 col-md-12">
    <div class="card bg-primary">
      <div class="card-header border-0 pb-0">
        <h5 class="card-title text-light">Filter by category</h5>
      </div>
      <%= render "shared/categories" %>
      <%= render partial: "shared/clients", object: @client %>
    </div>
  </div>

</div>