<div class="row pt-5">
  <h1>Search Results</h1>
  <div class="col-12 mb-3">
    <div class="card">
      <div class="card-body bg-light">
        <div class="d-flex bd-highlight">
          <div class="p-2 flex-grow-1 align-self-center">
            <h5 class="text-primary">
              Clients: <% if @category %> <%= @category.name %> <% end %>
            </h5>
          </div>
          <div class="p-2 bd-highlight align-self-center">
            <%= select_tag 'sort', options_for_select(
              [
                ['Revenue Low to High', ''],
                ['Revenue High to Low', ''],
                ['Most Recent Customers', ''],
                ['Oldest Customers', ''],
              ]
            ), class: "form-select" %>
           
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-12 mb-4">
    <div class="d-flex flex-column p-3 bg-light">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search by client name" aria-label="Search">
      </form>
      <hr>
      <h5>Search by Revenue</h5>
      <ul class="nav nav-pills flex-column mb-auto">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">$</span>
          <input type="text" class="form-control" placeholder="Min" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">$</span>
          <input type="text" class="form-control" placeholder="Max" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </ul>
      <hr>
      <a type="button" class="btn btn-primary">Apply Filters</a>
      <a type="button" class="btn btn-secondary mt-2">Clear All Filters</a>
    </div>
  </div>
  
  <div class="col-lg-9 col-md-12">
    <div class="card bg-primary">
      <div class="card-header border-0 pb-0">
        <h5 class="card-title text-light">Filter by category</h5>
      </div>
      <%= render "shared/categories" %>
      <div class="card-body bg-light">
        <div class="table-responsive-lg">
          <table class="table">
            <thead>
              <tr>
                <th class="text-nowrap" scope="col">First Name</th>
                <th class="text-nowrap" scope="col">Last Name</th>
                <th class="text-nowrap" scope="col">Email</th>
                <th class="text-nowrap" scope="col">Category</th>
                <th class="text-nowrap" scope="col">Date Added</th>
                <th class="text-nowrap" scope="col">Total Revenue</th>
                <th class="text-nowrap" scope="col">Status</th>
                <th class="text-nowrap" scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% cache current_user.clients do %>
                <% current_user.clients.sort.each do |c| %>
                  <% cache c do %>
                  <tr>
                    <td class="text-nowrap"><%= link_to c.first_name, client_path(c) %></td>
                    
                    <td class="text-nowrap"><%= c.last_name %></td>
                    <td class="text-nowrap"><%= c.email %></td>
                      <td class="text-nowrap"><%= c.category.name %></td>
                    <td class="text-nowrap"><%= c.created_at.strftime('%d %b %Y') %></td>
                    <td class="text-nowrap">
                      <%= number_to_currency(c.revenue) %>
                    </td>
                    <td class="text-nowrap <%= active_class(c.active) %>">
                      <%= c.active ? 'Active' : 'Inactive' %>
                    </td>
                    <td class="text-nowrap">
                      <%= link_to "Edit Client", edit_client_path(c), class: "btn btn-sm btn-accent2" %>
                      <%= link_to "Delete Client", c, method: :delete, data: {confirm: 'Are you sure you want to delete this client?'}, class: "btn btn-sm btn-danger text-white"%>
                    </td>
                  </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>